{% extends 'base.html.twig' %}

{% block title %}Search twittos{% endblock %}

{% block body %}

<div class="row mt-4 text-center">
    <h1>Search results:</h1>
</div>
<div class="row mt-4">
    <div class="col-4 offset-4">
        {% for twitto in twittos %}
            {% include "home/_twitto.html.twig" %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/home.js") }}"></script>
{% endblock %}
