{% extends "base.html.twig" %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
<div class="row text-center mt-3">
    <h1>Modifier un article</h1>
</div>
{% include "article/_form.html.twig" with { btn_label:'Modifier' } %}

{% endblock %}