.navbar-brand img{
    width: auto;
    height: 35px;
    filter: brightness(0) invert(1);
    margin-right: 5px;
}
.like{
    cursor: pointer;
}

.twitto-header{
    display: flex;
    justify-content: space-between;    
}

.twitto-author-photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: rgb(255 255 255 / 31%) solid 3px;
}

.my-profile-photo {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 64%;
    border: 2px solid;
}