{% extends 'base.html.twig' %}

{% block title %}Liste wishes{% endblock %}

{% block body %}
<h1>Liste</h1>
<ul>
    {% for item in wishes %}
        <li><a href="{{ path("app_wish_detail",{id:item.id}) }}">{{ item.title }} - {{ item.dateCreated|date("d-m-Y") }} [{{ item.category.name }}]</a></li>
    {% endfor %}
</ul>
{% endblock %}
